:root {
    --font-color-primary: rgb(4, 3, 17);
    --font-color-secondary: rgb(48, 88, 29);
    --background-color-primary: rgb(106, 169, 241);
    --background-color-secondary: rgb(58, 194, 58);
    --background-color-third: rgb(122, 36, 36);
}